* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

h2 {
  font-size: 13px;
  margin-bottom: 10px;
  margin: 0;
}

p {
  font-size: 15px;
}

body {
  background-color: #282828;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  position: relative;
  height: 250px;
  margin-bottom: 10vh;
  overflow: hidden;
}

.move-slider {
  color: white;
  border: none;
  width: 52px;
  height: 33px;
  cursor: pointer;
  background-color: transparent;
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header-text {
  font-size: 3rem;
  margin: 20px;
  color: white;
  text-align: center;
}

.playlist-slider {
  transition: all 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.playlist-image > img {
  width: 100%;
}

.playlist-info {
  position: relative;
  top: -150px;
  left: 0;
  text-align: center;
  visibility: hidden;
}

.playlist-info > a,
.playlist-info > h2 {
  color: white;
  text-decoration: none;
}

.playlist-info > a {
  padding-bottom: 4px;
  margin-bottom: 4px;
  display: inline-block;
  border-bottom: 2px solid rgb(216, 216, 216);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1100px;
  margin: 0 auto;
}

.recently-played-img {
  position: relative;
  width: 200px;
  padding-right: 15px;
  border-right: 2px solid rgb(228, 228, 228);
}

.recently-played-about {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 50px;
  align-items: center;
}

.recently-played-about > div > h2 {
  font-size: 1.1rem;
  margin: 0;
}

.recently-played-about > div > p {
  font-size: 1rem;
  margin: 0;
  margin-top: 10px;
}

.recently-played-container {
  margin: 10px;
}

.btn {
  transition: all 0.2s;
  width: 200px;
  height: 40px;
  font-size: 1rem;
  margin-right: 10%;
  background-color: transparent;
  border: 2px solid rgb(189, 189, 189);
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: #282828;
}
